name: Build Docker image and push to ACR registry 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      Tag : V-${{ github.run_id }}-${{ github.run_attempt }}
    

    steps:
    - name: Check out code 
      uses: actions/checkout@main
    - name: Log in with Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
            az account show
            az storage -h
    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${ secrets.REGISTRY_NAME }.azurecr.io
        username: ${ secrets.ACR_USERNAME }
        password: ${ secrets.ACR_PASSWORD }
    - run: |
        docker login devopsdockercontainerregistry.azurecr.io
        docker build . -t devopsdockercontainerregistry.azurecr.io/springbootdockercontainer:v5
        docker push devopsdockercontainerregistry.azurecr.io/springbootdockercontainer:v5
        
  
