name: Build Docker image and push to ACR registry

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      Tag : V-${{ github.run_id }}-${{ github.run_attempt }}
    

    steps:
    - name: Check out code 
      uses: actions/checkout@main
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${ secrets.REGISTRY_NAME }.azurecr.io
        username: ${ secrets.ACR_USERNAME }
        password: ${ secrets.ACR_PASSWORD }
    - run: |
        docker build . -t devopsdockercontainerregistry.azurecr.io/springbootdockercontainer:v5
        docker push devopsdockercontainerregistry.azurecr.io/springbootdockercontainer:v5
        
  
